<p-toast></p-toast>
<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>


  </ng-template>

  <ng-template pTemplate="right">
    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template>
</p-toolbar>

<p-table #dt [value]="users" [globalFilterFields]="['name']" [(selection)]="selectedUsers" [rowHover]="true"
  dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h3 class="p-m-0">Manage Users</h3>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>

      <td>
        <p-tableCheckbox [value]="user"></p-tableCheckbox>
      </td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <p-dropdown [options]="adminUsers.roles"
          [(ngModel)]="user.role"
          placeholder="Role"
          optionLabel="name"
          optionValue="code"
          (onChange)="updateRole(user)">
        </p-dropdown>
      </td>

      <td>
        <button pButton pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success p-mr-2"
                (click)="updateUser(user)"
                ></button>
        <button pButton pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteUser(user)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{users ? users.length : 0 }} users.
    </div>
  </ng-template>
</p-table>


<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" [header]="headerUserDialog" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <img [src]="'assets/images/no_image_profile2.png'" [alt]="user.image" class="product-image" *ngIf="!user.image">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="user.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !user.name">Name is required.</small>
    </div>

    <div class="p-field">
      <label for="name">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus />
      <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createUserOrUpdate()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
