
integrator-backend/eureka-server/gradle/wrapper/gradle-wrapper.properties

integrator-backend/.idea/

integrator-backend/authorization-server/gradle/wrapper/

integrator-backend/product-service/gradle/wrapper/

integrator-backend/gateway-service/gradle/wrapper/gradle-wrapper.jar

integrator-backend/gateway-service/gradle/wrapper/

integrator-backend/user-service/gradle/wrapper/gradle-wrapper.jar

integrator-backend/user-service/gradle/wrapper/

integrator-backend/eureka-server/gradle/wrapper/
