<div class="p-grid">
  <div class="p-col-12">


    <p-toast></p-toast>

    <div class="card">

      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple [disabled]="selectedUsers.length <= 0" label="Delete" icon="pi pi-trash"
            class="p-button-danger" (click)="deleteInBatch()"></button>


        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [globalFilterFields]="['name']" [(selection)]="selectedUsers" [rowHover]="true"
        [globalFilterFields]="['name','description']" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="enabled">Enabled <p-sortIcon field="enabled"></p-sortIcon>
            </th>
            <th> Meli </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h3 class="p-m-0">Manage Meli Accounts</h3>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search..." (input)="searchInTable(dt, $event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>

            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.description}}</td>

            <td>
              <input type="checkbox" [(ngModel)]="user.enabled" (click)="enableOrDisable(user)">
            </td>

            <td>
              <button *ngIf="!user.userId" pButton pRipple type="button" label="Join to Meli"
                [ngClass]="{ 'p-button-rounded p-button-warning' : !user.userId }" (click)="redirect(user)">
              </button>

              <button *ngIf="user.userId" pButton pRipple type="button" label="Account authorized"
                [ngClass]="{'p-button-rounded p-button-success': user.userId }" (click)="redirect(user)">
              </button>
            </td>

            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="updateUser(user)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteUser(user)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{users ? users.length : 0 }} users.
          </div>
        </ng-template>
      </p-table>

    </div>


    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" [header]="headerUserDialog" [modal]="true"
      styleClass="p-fluid">


      <ng-template pTemplate="content" [formGroup]="userForm">

        <div class="p-field">
          <label for="name">Name</label>
          <input type="text" pInputText id="name" formControlName="name" autofocus />
          <small class="p-error" *ngIf="submitted && name?.errors?.required">Name is required.</small>
          <small class="p-error" *ngIf="submitted && name?.errors?.minlength"> Name must be at least 4 characters
            long.</small>
        </div>

        <div class="p-field">
          <label for="name">Description</label>
          <input type="text" pInputText id="email" formControlName="description" required autofocus />
          <small class="p-error" *ngIf="submitted && description?.errors?.required">Description is required.</small>
        </div>

      </ng-template>


      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
          (click)="createUserOrUpdate()"></button>
      </ng-template>
    </p-dialog>

    <!--
<p-dialog [visible]="false" [style]="{width: '450px'}" header="Details of delete in batch" [modal]="true"
  styleClass="p-fluid">


    <ng-template pTemplate="content">


      <p-tabView styleClass="tabview-custom">
          <p-tabPanel>
              <ng-template pTemplate = "header">
                  <i class="pi pi-check"></i>
                  <span> Success</span>
              </ng-template>
              <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
          </p-tabPanel>
          <p-tabPanel header="Header II">
              <ng-template pTemplate = "header">
                  <i class="pi pi-times"></i>
                  <span> Erros</span>
              </ng-template>
              <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
          </p-tabPanel>
          <p-tabPanel header="Header III">
              <ng-template pTemplate = "header">
                  <i class="pi pi-exclamation-triangle"></i>
                  <span>Not founds</span>
              </ng-template>
              <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
          </p-tabPanel>
      </p-tabView>

    </ng-template>

</p-dialog> -->

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


  </div>
</div>
