<!--Header-->



<div class="p-grid p-ai-stretch vertical-container">

  <div class="p-col">
    <div class="p-grid vertical-container-content">
      <div class="p-col-12">
        <app-header></app-header>
      </div>

      <div class="p-col-12">
          <app-breadcrumb></app-breadcrumb>
      </div>

      <div class="p-col-12 h-80-p">
        <div class="p-card h-100-p">


            <router-outlet></router-outlet>

        </div>
      </div>


      <div class="p-col-12 p-mt-1 h-10-p">
        <div class="p-card h-100-p">
          footer
        </div>
      </div>
    </div>





  </div>

</div>
<!--Sidebar-->


<!--Content-->
