.box-stretched {
  height: 100%;
}

.box-stretched-content {
  height: 90%;
}

.box-stretched-footer {
  height: 100%;
}


.vertical-container {
  margin: 0%;
  height: 100%;
  border-radius: 4px;
}

.vertical-container-content {
  margin: 0%;
  height: 90%;
 /* background: var(--bluegray-200); */
  border-radius: 4px;
}

.box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
